*,*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}
img{
    width: 100%;
    max-width: 100%;
}

h1{
font-family: 'Montserrat', sans-serif;
font-weight: 700;
font-size: 100px;
line-height: 122px;
color:white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
position: relative;
}

/* h1::before{
content: attr(data-text);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
color:white;
border-right:2px solid #F7515C;
overflow: hidden;
animation:animate 6s linear infinite;
} */

@keyframes animate{
    0%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}

h2{
 font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight:700;
font-size: 60px;
line-height: 70px;
color: black;
}

h3{
font-family: 'Poppins', sans-serif;
font-weight: 700;
font-size: 20px;
color:#F7515C;
}

p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight:400;
    font-size: 22px;
    line-height: 30px;
    color: rgba(40, 42, 48, 0.5);
}
.btn{
width: 200px;
height: 78px;
background: #F7515C;
border:none;
margin-bottom: 10px;
font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
line-height: 27px;
}

 a{
font-size: 1.4rem;
line-height: 1.7rem;
text-decoration: none;
color:black;
}

/* section{
    padding-bottom:150px;

} */

.container{
    position: relative;
    width: 100%;
    max-width: 76rem;
    margin: 0 auto;
     padding: 0 2.4rem; 
}

/*-----header styles start here--------*/
header{
    width: 100%;
    z-index: 1;
    padding-top:4.4rem;
    margin-bottom: 6.8rem;
    
}

.nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    align-content: center;
    


}
.nav_list{
    font-family: 'Nunito Sans', sans-serif;
    display:flex;
    flex-wrap:wrap;
    column-gap: 80px;
    list-style: none;
    margin-right: 20px;
    margin-left: 20px;
}

.logo{
    margin-right: 20px;
}

.logo_img{
    width: 177px;
    height:48px;

}

.icons{
    display:flex;
    flex-direction: space-around;
}
.search_icon{
    width: 27px;
    height:29px;
    margin-right: 30px;
}

.cart_icon{
    width: 18px;
    height:21px;
    margin-right: 60px;
}

.play_icon_container{
    width: 60px;
    height:60px;
    /* border: 1px solid black; */
    position: relative;
    /* display: flex;
    justify-content:center;
    align-items: center; */
}
.play_icon{
    font-size: 500px;
   
}

.hero{
    position: relative;
    margin-bottom: 250px;
}


.hero_headers{
    margin-top: 10%;
    margin-bottom: 30px;
    margin-left: 30px;
    /* border:3px solid black; */
}

.hero_buttons{
    display:flex;
   align-items:center;
}

.headers_about{
    margin-top: 10%;
    margin-bottom: 50px;

}

.hero h3{
    margin-bottom: 62px;
}

.hero h2{
    margin-bottom: 47px;
}


.container_lines{
     width: 100%; 
    background:url(../images/lines_hero.jpg) left repeat;
    /* background-color: rgba(255,255,255,0.5); */
}

.red_rectangle{
    width: 35px;
    height: 264px;
    background-color: #F7515C;
    position:absolute;
    left:0;
    top:14.5px;
   
}

.discover_btn{
    margin-right: 85px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
line-height: 27px;
}

.watch_btn{
    position:relative;
    background-color: transparent;
    color:black;
    
}

.play_icon{
    position:absolute;
    top:0;
    left:0;
    width: 30px;
    height: 37px;
    z-index: 10;
    background-color: White;
}






.container_another{
    position: relative;
    width: 100%;
    max-width: 76rem;
    margin: 0 auto;
    display: grid;
     grid-gap: 80px;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    padding: 0 2.4rem; 
}


 
.image-stack__item--bottom_hero {
    grid-column: 5 / -1;
    grid-row: 1;
    padding-top: 8%; 
  }
  
  .image-stack__item--top_hero {
    grid-row: 1;
    grid-column: 1 / span 11;
    z-index: 2; 
  }

  .image-stack__item--right_hero{
    grid-row: 1;
    grid-column: 2/12;
    /* border: 1px solid red; */
    padding-top: 20%;

  
  }

.image-stack {
    display: grid;
    position: relative; 
    grid-template-columns: repeat(12, 1fr);
  }

  .image-stack_about{
    display: grid;
    position: relative; 
    grid-template-columns: repeat(24, 1fr);
  }
  
  .image-stack__item--bottom_about {
    grid-column: 4 / -1;
    grid-row: 1;
    padding-top: 90%; 
  }
  
  .image-stack__item--top_about {
    grid-row: 1;
    grid-column: 3 / 22;
    z-index: 3; 
  }

  .image-stack__item--right_about{
    grid-row: 1;
    grid-column: 4 / 24;
    padding-top: 60%;
    z-index: 1;
  
  }

  .image-stack__item--left_about{
     
    grid-row: 1;
    grid-column: 1 / span 9;
    
    padding-top: 220%;
    z-index: 1;
  }
  
  img {
    width: 100%;
    display: block;
  }
  .more_white_rectangle{
      width: 449px;
      height:199px;
      max-width: 100%;
      
      background-color:white;
      box-shadow: 20px 4px 100px rgba(0, 0, 0, 0.1);
  }

  .image-stack__item--bottom_more {
    grid-column:  3/ 7;
    grid-row: 1;
    padding-top: 130%; 
  }
  
  .image-stack__item--top_more {
    grid-row: 1;
    grid-column: 2 /  12;
    z-index: 1; 
    padding-top: 5%;
  }
  .image-stack__item--right_more{
    grid-row: 1;
    grid-column: 7 /  11;
    z-index: 1; 
    
  }

  .image-stack__item--left_more{
    grid-row: 1;
    grid-column: 1 /  5;
    z-index: 1; 
    padding-top:25%;
  }

  .image-stack__item--middle_more{
    grid-row: 1;
    grid-column: 8 /  -1;
    z-index: 1; 
    padding-top:105%;
  }
  .image-stack__item--top_lets{
    grid-row: 1;
    grid-column: 1 / span 10;
    z-index: 2; 
  }
  .image-stack__item--bottom_lets{
    grid-row: 1;
    grid-column: 1 / span  12;
    z-index: 1; 
    padding-top:45%;
  }
  .more_card_title{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;
      margin-top: 15px;
      /* margin-right: 70px; */
      
  }

  

  .more_card_text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      /*text-align: center; */
      padding:20px 50px;
  }
  .more_value p{
      font-size: 14px;
      margin-left: 70px;
     
  }

  span{
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
  }
  .more_card_number{
      width: 51px;
      height:51px;
      border-radius:50%;
      background: rgba(247, 81, 92, 0.05);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      color: #F7515C;
      margin-right: 20px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      
  }

  .more_value{
      margin-bottom: 166px;
  }

  .more_value h3{
      color: black;
      font-size: 40px;
      font-weight: 400;
  }

  .about{
      margin-bottom: 206px;
  }
  .about p{
      margin-bottom: 45px;
  }

  .headers_container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
  }

  .products{
      margin-bottom: 278px;
  }
  .product_icons{
      /* margin-top: 200px; */
       display: flex; 
       margin-bottom: 20px;
  }

  .icon_left_img{
      width: 48px;
      height: 48px;
      margin-right: 20px;
  }

  .product_images{
      display: grid;
      grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .product_info{
      text-align: center;
  }

  
  .try_now h1{
    color: black;
}

.explore_btn{
    margin-top: 64px;
}
.footer{
    padding: 100px 0;
}
.footer_item_list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 27px;
    list-style-type: none;
    /* text-align: center; */
}

.footer_item_link a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 21.6px;
    color: rgba(40, 42, 48, 0.8);
}

.footer_item_list_header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    color: #282A30;
    margin-bottom: 15px;
}


.footer_block{
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media screen and (max-width:1100px) {
    /* .nav_list{
       
    
    } */
}